.preview-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #5FCB9F;
    min-height: 100vh;
}

.preview-left {
    flex: 1;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-right: 20px;
}

.cv-preview h3 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.cv-preview h4 {
    font-size: 1.25rem;
    margin-bottom: 10px;
}

.cv-preview p {
    font-size: 1rem;
    color: #555;
    margin-bottom: 10px;
}

.cv-preview h5 {
    font-size: 1.1rem;
    margin-top: 20px;
    margin-bottom: 10px;
}

.preview-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.preview-button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: 500;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.preview-button:hover {
    background-color: #0056b3;
}
