.subindex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    padding: 20px;
    background-color: #5FCB9F;
    min-height: 100vh;
    text-align: center;
}

.subindex-container h1 {
    margin-bottom: 20px; 
    text-align:center;
}

.text{
    text-align:center;
}

.cv-templates {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    margin-top: 20px;
}

.cv-template {
    background-color: #E8ECEB;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 270px;
    text-align: left;
}
